
body{
    font-family: 'Poppins', sans-serif;
    color:rgb(95, 6, 95);
    margin:3px;
   
    
}
.size{
    font-size: 50px;
    font-weight:40% ;
    
    
}
h2{
    font-size:40px ;
}
.color-chng
{
    color: rgb(87, 95, 146);
}
.diet-img{
    width:60%;
}
.diet{
    width:78%;
    padding-left:7%;
}
    
.network{
    display:flex;
    margin-bottom: 100px;
}
    
    
    
.food{
    text-decoration: none;
    padding:10px 15px;
    background-image:linear-gradient(rgb(65, 61, 56),rgb(139, 156, 175));
    color:rgb(73, 3, 212);
    font-weight:700;
    border-radius: 20%;
}
p{
    font:20px;
}
  .myself{
      display: flex;
      background-image:url(images/Frame\ 56.jpg) ;
      background-repeat: no-repeat;
      padding:5%;
  } 
  .Cooking{
    text-decoration: none;
    padding:10px 15px;
    background-image:linear-gradient(rgb(65, 61, 56),rgb(139, 156, 175));
    color:rgb(73, 3, 212);
    font-weight:700;
    border-radius: 15%;
  } 
  .center{
      text-align: center;
      padding:2%;
  }
  .eat{
      color: rgb(15, 86, 216);
  }
  .soup{
    width:40%;
    box-shadow: 1px 1px 3px rgb(221, 7, 203);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding:2%;
    border-radius: 7%;
    margin-top: 5%;
    border-image: linear-gradient(#ada99f, #e40ad9) ;
      border-image-slice:1 ;
      border-left: 5px solid rgb(233, 9, 65));
      
  }
  .pizza{
    width:40%;
    box-shadow: 1px 1px 3px rgb(226, 7, 190);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding:2%;
    border-radius: 7%;
    margin-top: 5%;
    border-image: linear-gradient(#323280, #2f2149) ;
    border-image-slice:1 ;
    border-left: 5px solid rgb(1, 0, 17));
     
  }
  .vegetable{
    width:40%;
    box-shadow: 1px 1px 3px rgb(176, 11, 218);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding:2%;
    border-radius: 7%;
    margin-top: 5%;
    border-image: linear-gradient(#323280, #2f2149) ;
    border-image-slice:1 ;
    border-left: 5px solid rgb(1, 0, 17));
    

  }
  .flex{
      display:flex;
  }
  .resize{
      border-radius: 5%;
  }
  